@font-face{
    font-family: 'Lato';
    src: url('font/Lato2OFL/Lato-Black.ttf');
    font-family: 'Circe';
    src: url('font/Circe/Circe-Bold.otf'); 
}
body{
    height: 100%;
}
.header{
 
}
.header h1{
font-family: 'Lato';
color:  #ffffff;
font-size: 60px;/* Приближение из-за подстановки шрифтов */
font-weight: 300;
line-height: 48px;/* Приближение из-за подстановки шрифтов */
padding-top: 6%;
}

.wrapper{
    margin: 0 auto;
    width: 1200px;
}
.menu{
border-right: 0.5px solid darkgray;  
padding-right: 20px;
/*margin-right: 20px;*/
}
/*.inline_block {
   display: inline-block;
vertical-align: middle; 
}*/
.flex_block {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu a {
font-family: Circe;
text-transform:uppercase;
color:  #000;
font-size: 14px;/* Приближение из-за подстановки шрифтов */ 
margin-right:  20px;
}
.menu a:last-child {
margin-right: 0;
}
.auth{  
width: 18px;
height: 24px;
background: url("../image/auth.png") 0 0 no-repeat;
 background-size: cover;
}
.menu a:hover{
color: red;
border-bottom: 0;    
}
.search {
    width:  22px;
    height: 23px;
    background: url("../image/search.png") 0 0 no-repeat;
    background-size: cover;
    cursor: pointer;
    /*margin-right:  15px;*/
}
.slider{
    width: 100%;
    height: 298px;
    background-color:  rgba(21, 57, 106, 0.55);
    background: url("../image/slider.jpg") 0 0 no-repeat;
    background-size: cover;
    border-bottom: 8px solid #ffcf00;
}
.slide h1{
    font-family: Circe;
    color:  #f9f9fb;
    font-size: 50px;/* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    text-align: right;
}
.slide{
    display: flex;
    align-items: center;
    max-width: 800px;
    margin: auto;
}
.slide span{
    color: #fbde08;
    font-size: 28px; 
}
.elips{
    background: url("../image/elipse_for_slider.png") 0 0 no-repeat;
    background-size: contain;
    width: 201px;
    /* margin: auto; */
    height: 200px;
}
.elips2{
    border-radius: 50%;
    background-color:  #fbde08;
    width: 191px;
    height: 191px;
}
.elips p{
    font-family: Circe;
    color:  #fed200;
    font-size: 21.96px;/* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    padding-left: 47px;
    padding-top: 56px;
    margin: 0;
    
}
.elips span{
    color:  #f9f9fb;
    font-size: 50px;/* Приближение из-за подстановки шрифтов */ 
    padding-left: 47px;


}
.sliderbox h1{
    font-family: Circe;
    color:  #000000;
    font-size: 47.91px;
    padding-bottom: 20px;
}
.slide2 h1{
    font-family: Circe;
    color:  #000000;
    font-size: 18px;/* Приближение из-за подстановки шрифтов */
    font-weight: 700;  
}
.sliderbox{
    padding-left: 86px;
}
.slide2text{
    text-align: center;
} 
.slide2text h1{
    width: 191px;
}
.sliderbox2 h1{
    font-family: Circe;
    color:  #000000;
    font-size: 47.91px;/* Приближение из-за подстановки шрифтов */
    font-weight: 700;
}
.sliderbox2{
    padding-left: 86px;
}

